/AIC/
/datasets/
/rawdataset/
/runs/
/weights/
AIC23_Track4_Automated_Checkout.zip
yolov8*.pt
todo.md
/vis/
./my_test.py
__pycache__/
/.vscode/*
AIC22-TEAM55-TRACK4/
TEST_GAN/
data_train_yolor.zip
d.zip
./my_test.ipynb
/ViT/
/backup/
crop.png
/ultralytics/yolo/engine/ViT/
/tray_detector/